<div class="containerAbout">
    <div id="aboutText">
        <h1>Welcome to Australia & Pacific</h1>
        Australia and New Zealand’s medley of mountains, deserts, reefs, forests, beaches and multicultural cities are
        an
        eternal draw for travellers. Remote, beautiful and friendly, the Pacific islands’ white sands and clear waters
        are
        almost dreamlike in their perfection.

        <h2>Islands & Beaches</h2>
        <p>The island nations of the Pacific are scattered across the map like flower petals, but one thing that unites
            them
            all
            is
            the ever present sound of the ocean. If you’re looking for the perfect beach you probably won’t find it:
            there’s
            one
            around every headland. The Pacific is not just about relaxing on palm-fringed white-sand beaches, you’ll
            also
            discover. The island nations of the Pacific are scattered across the map like flower petals, but one thing
            that
            unites them all is
            dramatic coastlines built for long walks where the wind and sea-spray are your only companions.</p>

        <h2>Wildlife & Wild Nature</h2>
        <p>From up-close encounters with furry marsupials in Australia to the kaleidoscopic marine life of the Pacific,
            you
            will
            connect with a world here that you might otherwise only know through the narration of David Attenborough.
            While
            cities
            and resorts are dotted across the region the best feature is nature. You can swim with whale sharks in West
            Australia;
            hike through jungle to swim under a waterfall in Fiji; or be awed by snow-capped mountains and deep fiords
            of
            New
            Zealand.</p>

        <h2>Traditional cultures</h2>
        <p>The cultures of the Pacific islands have changed with the years but people still dress with modesty and live
            with
            a
            strong sense of respect for their elders and tradition. What some Pacific countries may lack in terms of
            luxuries
            they
            make up for in generosity. A night spent sharing food and song with a close-knit community will soon makes
            you
            realise
            that for every modern advantage in life there is often a trade-off in lost skills, knowledge, and kinship.
            Hospitality
            and hearty laughter is the local currency of the Pacific, so make like the locals and greet everyone with a
            nod
            or a
            smile in the street.</p>


        <h2>Adventure</h2>
        <p>New Zealand may be the capital of adventure sports where bungee jumping, zorbing and extreme skiing are just
            a
            few of the activities on offer, but the wider Pacific has plenty to offer those who want to test their
            mettle.
            There’s world-class surfing, snorkelling and diving but how about hiking to crumbling sacred statues in the
            jungle,
            swimming with whales, trekking to the top of a volcano, rappelling down a waterfall or kayaking to forgotten
            beaches? And in Australia and New Zealand you can undertake a long-distance walking trail (roughing it, or
            on a
            softer
            mattresses-and-sherpa-guides tour), as well as mountain-biking, rock-climbing and parachuting.</p>
    </div>
    <a id="home" href="/" class="link">Home</a>
</div>