<div id="backgroundSI">
    <form method="post" action="" class="form">
        <h1>Signup</h1>
        <label for="firstname">Firstname</label>
        <input class="input" id="firstname" name="lastname" type="text" value="testname">
        <label for="email">Email</label>
        <input class="input" id="email" name="email" type="email" value="testname@testmail.com">
        <label for="password">Password</label>
        <input class="input" id="password" name="password" type="password" value="12345Sunshine">
        <a id="btn" href="/" class="link">Send</a>
    </form>
    <a id="home" href="/" class="link">Home</a>
</div>